.tables {
    width: 100%;
    max-width: 100% !important;
    border: 2px solid #ffcb0b;
    border-radius: 5px; /* มุมมน */
    border-collapse: separate; /* ช่วยให้มุมขอบทำงาน */
    border-spacing: 0; /* ลบช่องว่างระหว่างเซลล์ */
    padding: 0; /* กำหนด padding ของตารางเป็น 0 */
}

.tables th, .tables td {
    border-top: 1px solid #ffcb0b; /* เพิ่มขอบให้กับเซลล์ */
}

.tables th {
    background-color: #ffcb0b;
    text-align: center;
}

.tbodytext {
    font-size: 13px;
}

.checkicon {
    font-size: 16px;
}

.titles {
    font-size: 30px;
    text-align: center;
    font-weight: 500;
}

.headertext {
    font-weight: 600;
}



@media screen and (max-width: 767px) {
    .tbresponsive {
        white-space: nowrap;
    }
}